@import "tailwindcss";

@layer base {
  :root {
    --color-brand-dark: #1F2937;
    --color-gray-light: #D9D9D9;
    --color-dark-gray: #1C1818;
    --color-medium-gray: #767676;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Inter', system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}